<div class="container">
    <div class="title">
        <h2 class="text-center">Add New Property</h2>
    </div>
    <div class="segmented-control">
        <div class="segmented-control-input custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample" mdbInput>
            <label class="" for="defaultInline1">1</label>
          </div>
          <div class="segmented-control-input custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample" mdbInput>
            <label class="" for="defaultInline2">2</label>
          </div>
    </div>
    <div>
        <div class="step-title">
            <div class="text-center">
                <div class="step"><span>1</span></div>Add the main information about the property you are listing
            </div>
        </div>
        <div class="row fields">
            <div class="col-md-6 field">
                <app-floating-label-input name="Bedrooms" labelText="Bedrooms" placeholder="Bedrooms" id="bedrooms"
                    type="number"></app-floating-label-input>
            </div>
            <div class="col-md-6 field">
                <app-floating-label-input name="Bathrooms" labelText="Bathrooms" placeholder="Bathrooms" id="bathrooms"
                    type="text"></app-floating-label-input>
            </div>
            <div class="col-md-6 field">
                <app-floating-label-input name="area" labelText="Area (m2)" placeholder="Area (m2)" id="area"
                    type="text"></app-floating-label-input>
            </div>
            <div class="col-md-6 field">
                <app-floating-label-input name="price" labelText="Price/month" placeholder="Price/month" id="price"
                    type="text"></app-floating-label-input>
            </div>
        </div>
    </div>
    <hr class="splitter">
    <div>
        <div class="step-title">
            <div class="text-center">
                <div class="step"><span>2</span></div>
                Select the location of the property
            </div>
        </div>
        <div>
            <app-search-map></app-search-map>
        </div>
    </div>
    <hr class="splitter">
    <div>
        <div class="step-title">
            <div class="text-center">
                <div class="step"><span>3</span></div>
                Enter additional description here
            </div>
        </div>
        <div class="description">
            <textarea placeholder="Additional description"></textarea>
        </div>
    </div>
    <hr class="splitter">
    <div>
        <div class="step-title">
            <div class="text-center">
                <div class="step"><span>4</span></div>
                Add Images of your property
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="" class="hidden"/>
                <div class="img_upload">
                    <input type="file" />
                </div>
                
            </div>
            <div class="col-md-4">
                <img src="" class="hidden"/>
                <div class="img_upload">
                    <input type="file" />
                </div>
                
            </div>
            <div class="col-md-4">
                <img src="" class="hidden"/>
                <div class="img_upload">
                    <input type="file" />
                </div>
                
            </div>
        </div>
    </div>
</div>